body,
html {
  cursor: url(https://www.picgifs.com/graphics/q/question-marks/graphics-question-marks-331528.gif), wait;
background-image:url('http://www.gaasch.net/format/format.gif');
background-position: center;
background-size: 70, 70, 70, 70, 70;
}
